/* reseteo */

* {
    margin: 0;
    padding: 0;
}


/* estilos-header */

/* .header {
    background-color: #000;
    padding: 20px 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
} */

.section-titular{
    background-color: #b0aea7;
    text-align: center;
    padding-bottom: 1px;
    font-family: 'Noto Sans Display', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 1px;
    font-size: 40px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bold;
}

.nav-container {
    background-color: #000;
}

.menú-bar a {
    margin-right: 50px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Noto Sans Display', sans-serif;
}

.menú-bar a:hover{
    display: block;
    background-color: red;
}

.p1 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

p{
    color:rgb(0, 0, 0);
}

.lista-trabajos{
    color:rgb(0, 0, 0)
}

.titulo2 {
    color: white;
    padding-bottom: 5px;
    padding-left: 300px;
    font-weight: bold;
    font-size: 23px;
    margin-top: 3px;
}

.social-footer {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
    margin-top: 6px;
    /* border: 1px solid blue; */
    margin-right: 3px;
}

h3{
    color:#000;
    font-weight: bold;
}

.p1bis{
    margin-bottom: 2px;
}

.p1{
    font-size: 24px;
    margin-bottom: 2px;
}

.encabezado1 {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000a03;
}

.button1-container:hover{
    transform:scale(1.2);
}

.button2-container:hover{
    transform:scale(1.2);
}

.button3-container:hover{
    transform:scale(1.2);
}

.nombre-recuadro{
    background-color: white;
}

/* .button2{
    transition: all 1.5s ease;
}

/* .nav {
    width: 60%;
} */

/* .menú {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* .menú a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding: 3px;
} */

/* .menú a:hover {
    display: block;
    background-color: red;
} */

/* encabezado */

/* .section-titular {
    background-color: #b0aea7;
    width: 100%;
} */

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans Display', sans-serif;
}

.section-encabezado {
    background-color: #b0aea7;
    width: 100%;
}

/* .encabezado1 {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000a03;
} */

/* estilos-main */

.contenido-cuerpo {
    background-color: #d49c19;
}

.photo1y2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.photo1 {
    margin-right: 20px;
}

.photo {
    display: flex;
    justify-content: center;
}

.photo3 {
    width: 700px;
    height: 200px;
    margin-bottom: 15px;
}

p {
    margin-left: 5px;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.lista-trabajos li {
    margin-left: 22px;
    font-size: 16px;
    list-style-type: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.rojo {
    color:red;
}

/* footer */

.footer {
    background-color: #000;
    width: 100%;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    
}

.social-footer {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
    margin-right: 3px;
}

.titulo2 {
    color: white;
    padding-bottom: 5px;
    padding-left: 300px;
}

.whatsapp {
    margin-right: 3px;
    width: 25px;
    height: 25px;
}

.facebook {
    margin-right: 3px;
    border-radius: 8px;
    width: 25px;
    height: 25px;
}

.instagram {
    margin-right: 3px;
    width: 25px;
    height: 25px;
}
/* footer */


/* reggaeton.html */

/* estilos-header */

h1 {
   padding-bottom: 2px;
}

/* estilos-main */

.contenido-cuerpo {
    background-color: #d49c19;
}

.contenido-cuerpo h3 {
    margin-left: 3px;
    padding-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.primer-video {
    display: flex;
    justify-content: center;
}

.video1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button1-container {
    display: flex;
    justify-content: center;
}

.button1 {
    width: 550px;
    color: black;
    border: 1.5px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.descarga {
    text-decoration: none;
}

.segundo-video {
    display: flex;
    justify-content: center;
}

.video2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button2-container {
    display: flex;
    justify-content: center;
}

.button2 {
    width: 550px;
    color: black;
    border: 1.5px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.descarga2 {
    text-decoration: none;
}

.tercer-video {
    display: flex;
    justify-content: center;
}

.video3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button3-container {
    display: flex;
    justify-content: center;
}

.button3 {
    width: 550px;
    color: black;
    border: 1.5px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.descarga3 {
    text-decoration: none;
}

/* footer */

.contenido-cuerpo {
    padding-bottom: 1px;
}

/* estilos formulario */

.nombre {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
}

.nombre-recuadro {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    /* background-color: #b0aea7; */
    outline: none;
}

.apellido {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
}

.apellido-recuadro {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    /* background-color: #b0aea7; */
    outline: none;
}

.consulta {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
}

.consulta-recuadro {
    width: 700px;
    height: 118px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    /* background-color: #b0aea7; */
    outline: none;
}

.enviar {
    /* background-color: rgb(255, 0, 0); */
    width: 500px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 190px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color:rgb(0, 0, 0);
    font-weight: bold;
    padding: 1px;
    border: 1px solid black;
}

.enviar2 {
    /* background-color: rgb(255, 0, 0); */
    width: 500px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 190px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color:rgb(0, 0, 0);
    font-weight: bold;
    padding: 1px;
    border: 1px solid black;

}

.correo-electrónico {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
}

.correo-recuadro {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    /* background-color: #b0aea7; */
    outline: none;
}