.header{
    background-color: orange;
    width: 100%;
}

.nav-container{
    display: flex;
    justify-content: center;
}

nav{
    background-color: aqua;
}


/* estas compilaciones fueron hechas a modo de prueba, para comprobar que funcionaba todo bien */