$colores: rgba(255, 255, 255, 0.1),
    #000,
    white,
    #b0aea7,
    #d49c19,
    red,
    #5b40f3a6;

$padding: 10px;

$font-size: 20px,
    24px,
    40px,
    2.8rem,
    1.5rem,
    18px,
    16px,
    26px,
    2rem,
    1rem,
    28px,
    25px,
    12.4px,
    13px;

$font-family: Arial,
    'Poppins',
    'Noto Sans Display', sans-serif,
    Cambria;